#board_form #id_description,
#board_form #id_title {
	background-color: #f8f9fa;
}
#board_form #id_description:focus,
#board_form #id_title:focus {
	background-color: #fff;
}
span#required_inp {
	color: red;
}
label {
	font-weight: bold;
}
