.card-styling {
	margin-bottom: 10px;
}
.card-body-styling {
	padding: 10px;
}
.star-partition {
	float: left;
	width: 10%;
	text-align: center;
	padding-top: 10px;
}
.body-partition {
	float: right;
	width: 90%;
}
i#star_icon.fa-lg {
	font-size: 1.6em;
}
.post-info {
	width: 50%;
}
