.placeholer-styling {
	margin-bottom: 10px;
}
.placeholer-body-styling {
	padding: 10px;
}
.placeholer-star-partition {
	float: left;
	width: 10%;
	text-align: center;
	padding-top: 10px;
}
.placeholer-body-partition {
	float: right;
	width: 90%;
}
i#star_icon.fa-lg {
	font-size: 1.6em;
}
.placeholer-post-info {
	width: 40%;
}
